AWS_ACCESS_KEY_ID=AKIAWX2IF6FQ5PMWSN7G
AWS_SECRET_ACCESS_KEY=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
AWS_S3_REGION_NAME=us-east-1
AWS_STORAGE_BUCKET_NAME=ai-model-bucket-output
TWILIO_ACCOUNT_SID=AC1ecff7f9fcd2ae83876837f65d736a63
TWILIO_AUTH_TOKEN=38dd5df3afe2d14a60abddb6cbda4481
VERIFY_SERVICE_SID=VA882b6c1f3b384d4fad5d1b6f7931399a
DEFAULT_OTP=123456
REACT_APP_API_URL=http://localhost:8000
GENERATE_SOURCEMAP=false

# Optional: If you need to specify Node environment
NODE_ENV=development