# Django Core
Django==4.2
djangorestframework
django-cors-headers
django-crontab

# Deployment
gunicorn
whitenoise
dj-database-url
python-dotenv

# Database
psycopg2-binary

# AWS Integration
boto3
botocore

# Utilities
requests
pillow
python-decouple
schedule


rasterio

# Firebase (if used)
Pyrebase4

# Twilio (OTP)
twilio

# Optional but used in your project
PyJWT

geopy
pandas
numpy

django-storages

django-jazzmin

reverse_geocoder
